<!DOCTYPE html>
<html lang="en" ng-app="actorsApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS Exercise</title>
    <script data-require="angularjs@1.6.4" data-semver="1.6.4"
        src="https://code.angularjs.org/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css" />
    <script src="app.js"></script>
    <script src="actorsCtrl.js"></script>
    <script src="moviesCtrl.js"></script>
    <script src="moviesDir.js"></script>
</head>

<body>

    <div class="container">
        <h1>Actors Gallery</h1>
        <div ng-controller="actorsCtrl">
            <div class="row" {{selectedOrder}}>
                <div ng-repeat="actor in actors | filter : filterActor | orderBy : orderProperty as filteredActors"
                    class="col-md-3 col-sm-6" ng-class="{'bold-border' : actor === selectedActor}">
                    <div class="card" ng-click="onSelectActor(actor)">
                        <img class="card-img-top" ng-src="{{actor.image}} alt={{actor.getFullName()}}">
                        <div class="card-body">
                            <a ng-href="{{actor.imdbLink}}" target="_BLANK">
                                <h4 class="card-title">{{actor.getFullName()}}</h4>
                            </a>
                            <p class="card-text">Birthday: {{actor.birthday | date}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <input class="form-control my-3"
                    placeholder="Filter actors by first name or last name (first letters in name)" ng-model="query">
            </div>

            <div>
                <p class="text-center" ng-show="filteredActors.length==0">Sorry, no actors were found</p>
            </div>

            <div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" ng-change="orderByProperty('fname')" ng-model="value" value="fname"
                            class="form-check-input" name="optradio">Order by first name
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="radio" ng-change="orderByProperty('lname')" ng-model="value" value="lname"
                            class="form-check-input" name="optradio">Order by last name
                    </label>
                </div>
                <div class="form-check disabled">
                    <label class="form-check-label">
                        <input type="radio" ng-change="orderByProperty('birthday')" ng-model="value" value="birthday"
                            class="form-check-input" name="optradio">Order by birthday
                    </label>
                </div>
            </div>
        </div>

        <div class="movies my-3" ng-controller="moviesCtrl">
            <div class="list-group">
                <div ng-repeat="movie in movies" class="row list-group-item list-group-item-action">
                    <movie-list></movie-list>
                </div>
            </div>
        </div>
    </div>


</body>

</html>