* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card {
    margin-top: 30px;
}

.bold-border {
    border: 5px solid blue;
}

.thin-border {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.form-check {
    display: inline;
    padding-right: 30px;
}

