body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card {
    margin-top: 10px;
}


