* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card {
    margin-top: 30px;
}

.bold-border {
    border: 5px solid blue;
}

.thin-border {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.form-check {
    display: inline;
    padding-right: 30px;
}

/* for responsiveness, better change movie section to col-md-4, col-md-8 etc instead of float */

.movie-poster {
    float: left;
    width: 35%;
}

.movie-poster>img {
    width: 75%;
   /* place image in center */
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
}

.movie-details {
    float: left;
    width: 65%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}